//body {
//  background-image: url(/background.png);
//}
body {
  background-image: url(/background.png);

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url(/background.png);
    background-size: 128px 128px;
  }
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 700px;
}

.title {
  line-height: 1;
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  .black { color: black; }
  .white { color: white; }
  a:hover{
    text-decoration: none;
  }
}

.nav-tabs {
  font-size: 20px;
  margin-bottom: 0;

  li {
    &.hide {
      display: none;
    }

    a {
      color: white;
      font-weight: 100;
      text-shadow: 1px 1px 5px rgba(0,0,0,0.3);

      &:hover {
        color: black;
      }
    }
  }
}

table.table {
  font-size: 18px;
  line-height: 1.4;
  color: #f0f0f0;
  text-shadow: 1px 1px 5px #444;

  a {
    color: #f0f0f0;
    text-shadow: 1px 1px 5px #444;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  td {
    border-top: 0;
    border-bottom: 1px solid #dddddd;
  }
}