//body {
//  background-image: url(/background.png);
//}
body {
  background-image: url(/background.png);

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url(/background.png);
    background-size: 128px 128px;
  }
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 700px;
}

.title {
  line-height: 1;
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  .black { color: black; }
  .white { color: white; }
  a:hover{
    text-decoration: none;
  }
}

.nav-tabs {
  font-size: 20px;
  margin-bottom: 0;

  li {
    &.hide {
      display: none;
    }

    a {
      color: white;
      font-weight: 100;
      text-shadow: 1px 1px 5px rgba(0,0,0,0.3);

      &:hover {
        color: black;
      }
    }
  }
}

#sign-in-out {
  float: right;
  cursor: pointer;
  color: white;
  font-weight: 100;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);

  > div {
    padding: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;

    #login-buttons-logout {
      display: none;
    }

    &:hover {
      border-color: #eee #eee #ddd;
      background-color: #eeeeee;
      color: black;

      .login-display-name {
        display: none;
      }
      #login-buttons-logout {
        display: inline-block;
      }
    }
  }
}