<template name="playerDetails">
    {{#with currentPlayer}}
        <h1>{{name}}</h1>
        <div class="progress player-progress">
            <div class="bar bar-success" style="width: {{percentageWon}}%;">{{percentageWon}}%</div>
            <div class="bar bar-danger" style="width: {{percentageLost}}%;">{{percentageLost}}%</div>
        </div>
        <dl class="dl-horizontal player-statistics">
            <dt>Rang</dt><dd class="rank">{{rank}}</dd>
            <dt>Punkte</dt><dd>{{score}}</dd>
            <dt>Spiele</dt><dd>{{gamesPlayed}}</dd>
            <dt>Gewonnen</dt><dd class="games-won"><span class="games-count">{{gamesWon}}</span><span class="percentage">{{percentageWon}}%</span></dd>
            <dt>Verloren</dt><dd class="games-lost"><span class="games-count">{{gamesLost}}</span><span class="percentage">{{percentageLost}}%</span></dd>
            {{#if bestBuddy}}
                <dt class="best-buddy">Am erfolgreichsten mit</dt><dd class="best-buddy">
                    {{#each bestBuddy}}
                        <a href="{{playerDetailsPath this}}">{{name}}</a>
                    {{/each}}
                </dd>
            {{/if}}
            {{#if worstNightmare}}
                <dt class="worst-nightmare">Schlimmster Albtraum</dt><dd class="worst-nightmare">
                    {{#each worstNightmare}}
                        <a href="{{playerDetailsPath this}}">{{name}}</a>
                    {{/each}}
                </dd>
            {{/if}}
        </dl>
        <canvas id="player-chart" width="700" height="200" data-score-history="{{scoreHistory}}"></canvas>
    {{/with}}
</template>