#games {
  tr {
    height: 41px;
    max-height: 41px;
  }

  td {
    text-align: center;

    &.winner {
      background-color: rgba(0,255,0,0.3);
    }

    &.score {
      font-size: 26px;
    }
  }

  .current-game {
    background-color: rgba(0,0,255,0.1);
  }
}